*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #f5f5f5;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.875rem;
  color: #3c3c3c;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

footer,
main,
menu,
nav,
section {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

.hidden {
  display: none; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.align-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

hr {
  margin-bottom: 3.125rem;
  border-width: 0.0625rem 0 0;
  border-color: rgba(255, 255, 255, 0.2);
  width: 12.5rem;
  color: #7e7e7e; }

.show-for-small {
  display: block; }
  @media screen and (min-width: 600px) {
    .show-for-small {
      display: none; } }

.show-for-medium {
  display: none; }
  @media screen and (min-width: 600px) {
    .show-for-medium {
      display: block; } }

.show-for-large {
  display: none; }
  @media screen and (min-width: 900px) {
    .show-for-large {
      display: block; } }

.show-for-xlarge {
  display: none; }
  @media screen and (min-width: 1200px) {
    .show-for-xlarge {
      display: block; } }

.show-for-xxlarge {
  display: none; }
  @media screen and (min-width: 1600px) {
    .show-for-xxlarge {
      display: block; } }

.padding-v-xxs {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xxs {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem; } }

.margin-b-xxs {
  margin-bottom: 0.625rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xxs {
      margin-bottom: 0.9375rem; } }

.padding-v-xs {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xs {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem; } }

.margin-b-xs {
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xs {
      margin-bottom: 1.25rem; } }

.padding-v-sm {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .padding-v-sm {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem; } }

.margin-b-sm {
  margin-bottom: 1.25rem; }
  @media screen and (min-width: 900px) {
    .margin-b-sm {
      margin-bottom: 1.875rem; } }

.padding-v-md {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem; }
  @media screen and (min-width: 900px) {
    .padding-v-md {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.margin-b-md {
  margin-bottom: 1.875rem; }
  @media screen and (min-width: 900px) {
    .margin-b-md {
      margin-bottom: 5rem; } }

.padding-v-lg {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  @media screen and (min-width: 900px) {
    .padding-v-lg {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.margin-b-lg {
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 900px) {
    .margin-b-lg {
      margin-bottom: 5rem; } }

.padding-v-xl {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem; }
  @media screen and (min-width: 900px) {
    .padding-v-xl {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem; } }

.margin-b-xl {
  margin-bottom: 3.75rem; }
  @media screen and (min-width: 900px) {
    .margin-b-xl {
      margin-bottom: 6.25rem; } }

.column-small-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.33333%;
  min-width: 0; }

.column-small-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66667%;
  min-width: 0; }

.column-small-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
  min-width: 0; }

.column-small-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333%;
  min-width: 0; }

.column-small-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66667%;
  min-width: 0; }

.column-small-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
  min-width: 0; }

.column-small-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333%;
  min-width: 0; }

.column-small-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66667%;
  min-width: 0; }

.column-small-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
  min-width: 0; }

.column-small-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333%;
  min-width: 0; }

.column-small-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.66667%;
  min-width: 0; }

.column-small-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
  min-width: 0; }

@media screen and (min-width: 600px) {
  .column-medium-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 600px) {
  .column-medium-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 900px) {
  .column-large-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1200px) {
  .column-xlarge-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66667%;
    min-width: 0; } }

@media screen and (min-width: 1600px) {
  .column-xxlarge-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    min-width: 0; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%; }
  .row.row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.hide-for-small.hide-for-small {
  display: none; }
  @media screen and (min-width: 600px) {
    .hide-for-small.hide-for-small {
      display: inherit; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.align-content-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-between {
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between; }

.align-items-around {
  -webkit-box-align: space-around;
  -ms-flex-align: space-around;
  align-items: space-around; }

.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.align-middle-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-content {
  overflow: hidden;
  height: 100vh; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1.3125rem;
  text-rendering: optimizeLegibility;
  color: #3c3c3c;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-style: normal; }

h3,
.h3,
h4,
.h4 {
  margin-bottom: 1.125rem; }

h5,
.h5,
h6,
.h6 {
  margin-bottom: 0.75rem;
  letter-spacing: 0.125rem; }

h1,
.h1 {
  font-size: 1.625rem; }

@media screen and (min-width: 600px) {
  h1,
  .h1 {
    line-height: 1.35;
    font-size: 1.9375rem; } }

h2,
.h2 {
  line-height: 1.25;
  font-size: 1.5rem; }

h3,
.h3 {
  line-height: 1.5;
  font-size: 1.25rem; }

h4,
.h4 {
  line-height: 1.76;
  font-size: 1.0625rem; }

h5,
.h5 {
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 0.125rem;
  font-size: 0.875rem; }

h6,
.h6 {
  text-transform: uppercase;
  line-height: 1.85;
  letter-spacing: 0.125rem;
  font-size: 0.8125rem; }

p,
img {
  margin: 0; }

p.lead {
  margin-bottom: 2.25rem;
  line-height: 1.8;
  color: #7e7e7e;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.125rem; }

@media screen and (min-width: 600px) {
  p.lead {
    font-size: 1.25rem; } }

em,
i,
strong,
b {
  line-height: 3rem;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal; }

em,
i {
  font-style: italic; }

strong,
b {
  font-weight: 700; }

small {
  line-height: inherit;
  font-size: 0.6875rem; }

a {
  text-decoration: none;
  line-height: inherit;
  color: inherit; }

fieldset {
  border: 0; }

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: 0;
  border: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 0.9375rem;
  border-radius: 0.125rem;
  max-width: 100%;
  vertical-align: middle;
  color: #3c3c3c;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.9375rem; }

.bg-left,
.bg-right {
  height: 100vh;
  padding: 1.875rem;
  overflow: hidden; }
  @media screen and (min-width: 900px) {
    .bg-left,
    .bg-right {
      padding: 0; } }
  .bg-left.blur,
  .bg-right.blur {
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -o-filter: blur(0.625rem);
    -ms-filter: blur(0.625rem);
    -moz-filter: blur(0.625rem);
    -webkit-filter: blur(0.625rem);
    filter: blur(0.625rem);
    overflow: hidden;
    margin: -1.25rem;
    -webkit-box-shadow: inset 0 0 0 187.5rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 187.5rem rgba(0, 0, 0, 0.5); }
  .bg-left .fg-left,
  .bg-left .fg-right,
  .bg-right .fg-left,
  .bg-right .fg-right {
    height: 100%;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 900px) {
      .bg-left .fg-left,
      .bg-left .fg-right,
      .bg-right .fg-left,
      .bg-right .fg-right {
        height: 80vh; } }
    .bg-left .fg-left .content-wrapper,
    .bg-left .fg-right .content-wrapper,
    .bg-right .fg-left .content-wrapper,
    .bg-right .fg-right .content-wrapper {
      padding: 1.875rem 1.25rem;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      color: #ffffff; }
      .bg-left .fg-left .content-wrapper .content-wrapper-inner,
      .bg-left .fg-right .content-wrapper .content-wrapper-inner,
      .bg-right .fg-left .content-wrapper .content-wrapper-inner,
      .bg-right .fg-right .content-wrapper .content-wrapper-inner {
        margin-bottom: 1.25rem;
        overflow: hidden;
        height: 100%; }
      .bg-left .fg-left .content-wrapper .logo,
      .bg-left .fg-right .content-wrapper .logo,
      .bg-right .fg-left .content-wrapper .logo,
      .bg-right .fg-right .content-wrapper .logo {
        display: block;
        max-width: 12.5rem;
        margin: 0 auto;
        margin-bottom: 1.875rem; }
  .bg-left .fg-right,
  .bg-right .fg-right {
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    -webkit-box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.2), 0.125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.2), 0.125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.24); }
    @media screen and (min-width: 900px) {
      .bg-left .fg-right,
      .bg-right .fg-right {
        width: 0;
        -webkit-transition: 0.08s ease-out;
        transition: 0.08s ease-out; }
        .is-open .bg-left .fg-right, .is-open
        .bg-right .fg-right {
          width: 66.66667%; } }
  .bg-left .fg-left,
  .bg-right .fg-left {
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    -webkit-box-shadow: -0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.2), -0.125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.24);
    box-shadow: -0.3125rem 0 1.25rem 0 rgba(0, 0, 0, 0.2), -0.125rem 0.3125rem 0.3125rem 0 rgba(0, 0, 0, 0.24); }

.bg-left {
  background: url("../images/left.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 1200px) {
    .bg-left {
      background-position: left;
      background-size: 60%; } }
  .bg-left.js-panel {
    height: 0;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out; }
    @media screen and (min-width: 900px) {
      .bg-left.js-panel {
        height: 100vh !important; } }
    .bg-left.js-panel.is-active {
      height: 100vh; }

.bg-right {
  background: url("../images/right.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (min-width: 1200px) {
    .bg-right {
      background-position: right;
      background-size: 60%; } }
  .bg-right.js-panel {
    height: 0;
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out; }
    @media screen and (min-width: 900px) {
      .bg-right.js-panel {
        height: 100vh !important; } }
    .bg-right.js-panel.is-active {
      height: 100vh;
      margin-top: -3.75rem; }
      @media screen and (min-width: 900px) {
        .bg-right.js-panel.is-active {
          margin-top: 0; } }

.character-list-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.25rem 1.875rem;
  height: 100%;
  max-height: 100%;
  overflow: hidden; }
  .character-list-wrapper .search-wrapper {
    position: relative; }
    .character-list-wrapper .search-wrapper .search-input {
      padding-right: 2.8125rem; }
    .character-list-wrapper .search-wrapper .search-label {
      position: absolute;
      top: 0.625rem;
      right: 0;
      font-size: 1.875rem;
      padding-right: 0.3125rem;
      color: #7e7e7e; }
  .character-list-wrapper .js-search-result {
    display: none; }
    .character-list-wrapper .js-search-result.active {
      display: block; }
  .character-list-wrapper .character-list {
    margin-top: 1.25rem;
    overflow-y: scroll;
    height: 100%; }
    .character-list-wrapper .character-list .list {
      margin: 0;
      padding: 0 0 11.25rem;
      list-style: none;
      color: #ffffff;
      font-weight: 400; }
      .character-list-wrapper .character-list .list .list-item {
        padding: 0.625rem 0;
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out; }
        .character-list-wrapper .character-list .list .list-item a {
          display: block; }
        .character-list-wrapper .character-list .list .list-item:hover {
          border-bottom: 1px solid rgba(205, 40, 44, 0.75);
          -webkit-box-shadow: 0 0.5rem 1.25rem -0.5rem rgba(205, 40, 44, 0.75);
          box-shadow: 0 0.5rem 1.25rem -0.5rem rgba(205, 40, 44, 0.75); }

.content-wrapper {
  position: relative; }
  .content-wrapper .close-icon {
    position: absolute;
    top: 0;
    right: -1.25rem;
    cursor: pointer; }
    .content-wrapper .close-icon .toggle-icon {
      display: block;
      position: relative;
      width: 100%;
      -webkit-transition: margin 600ms;
      transition: margin 600ms;
      cursor: pointer; }
      .content-wrapper .close-icon .toggle-icon .bar {
        display: block;
        width: 3.8em;
        height: 0.25rem;
        margin: 0.9em;
        border-radius: 0.625rem;
        border-right: 2.8em solid #ffffff;
        border-left: 0.6em solid #d2d2d2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
        transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
        transition-property: transform, margin, border-right-color, box-shadow;
        transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform, -webkit-box-shadow;
        -webkit-transition-duration: 600ms;
        transition-duration: 600ms; }
        .content-wrapper .close-icon .toggle-icon .bar:nth-of-type(1) {
          margin-left: 1.4em;
          -webkit-transform: rotate(-137deg) translateY(-1.5rem);
          transform: rotate(-137deg) translateY(-1.5rem); }
        .content-wrapper .close-icon .toggle-icon .bar:nth-of-type(2) {
          margin-left: 0.5em;
          -webkit-transform: rotate(-42deg) translateY(-0.125rem);
          transform: rotate(-42deg) translateY(-0.125rem); }
  .content-wrapper .movie-info {
    overflow-y: scroll;
    height: 100%;
    padding: 0 1.25rem; }
    .content-wrapper .movie-info .movie-title {
      color: #ffffff;
      text-transform: uppercase;
      margin-bottom: 0; }
    .content-wrapper .movie-info .movie-episode {
      margin-bottom: 0.9375rem; }
    .content-wrapper .movie-info .movie-poster {
      max-width: 15.625rem;
      margin: 0 auto;
      display: block;
      margin-bottom: 0.9375rem; }

.styleguide {
  margin: 5rem 0; }
  .styleguide .container {
    padding: 0 9.375rem; }
  .styleguide .sg-section {
    margin-bottom: 3.125rem; }

.sg-title {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 1.25rem;
  text-transform: uppercase; }

.sg-table {
  margin: 0 auto;
  width: 900px;
  line-height: 3rem; }
  .sg-table thead {
    text-align: left;
    text-transform: uppercase;
    font-family: "Roboto", Arial, sans-serif; }
  .sg-table td {
    border-bottom: 1px solid #d2d2d2; }
  .sg-table .font-info.primary td {
    font-family: "Roboto", Arial, sans-serif !important; }
  .sg-table .font-info.secondary td {
    font-family: "Roboto", Arial, sans-serif !important; }

.sg-bg-dark {
  background-color: #101010;
  padding: 1.875rem; }

.colors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.color-info {
  display: inline-block; }
  .color-info p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: #3c3c3c;
    font-family: "Roboto", Arial, sans-serif; }
  .color-info .name {
    color: #101010;
    font-weight: 700; }
  .color-info .scss {
    text-transform: none; }

.color-info {
  display: none;
  font-family: sans-serif; }

.color-info:nth-child(1) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(1) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #000000;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(1) .name::after {
    content: "black"; }
  .color-info:nth-child(1) .hex::after {
    content: "#000000"; }
  .color-info:nth-child(1) .scss::after {
    content: "$" "black"; }
  .color-info:nth-child(1) .rgb::after {
    text-transform: none;
    content: "rgb(0, 0, 0)"; }

.color-info:nth-child(2) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(2) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #101010;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(2) .name::after {
    content: "grey-900"; }
  .color-info:nth-child(2) .hex::after {
    content: "#101010"; }
  .color-info:nth-child(2) .scss::after {
    content: "$" "grey-900"; }
  .color-info:nth-child(2) .rgb::after {
    text-transform: none;
    content: "rgb(16, 16, 16)"; }

.color-info:nth-child(3) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(3) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #3c3c3c;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(3) .name::after {
    content: "grey-700"; }
  .color-info:nth-child(3) .hex::after {
    content: "#3c3c3c"; }
  .color-info:nth-child(3) .scss::after {
    content: "$" "grey-700"; }
  .color-info:nth-child(3) .rgb::after {
    text-transform: none;
    content: "rgb(60, 60, 60)"; }

.color-info:nth-child(4) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(4) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #7e7e7e;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(4) .name::after {
    content: "grey-500"; }
  .color-info:nth-child(4) .hex::after {
    content: "#7e7e7e"; }
  .color-info:nth-child(4) .scss::after {
    content: "$" "grey-500"; }
  .color-info:nth-child(4) .rgb::after {
    text-transform: none;
    content: "rgb(126, 126, 126)"; }

.color-info:nth-child(5) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(5) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #d2d2d2;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(5) .name::after {
    content: "grey-300"; }
  .color-info:nth-child(5) .hex::after {
    content: "#d2d2d2"; }
  .color-info:nth-child(5) .scss::after {
    content: "$" "grey-300"; }
  .color-info:nth-child(5) .rgb::after {
    text-transform: none;
    content: "rgb(210, 210, 210)"; }

.color-info:nth-child(6) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(6) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #f5f5f5;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center;
    border: 0.0625rem solid #d2d2d2; }
  .color-info:nth-child(6) .name::after {
    content: "off-white"; }
  .color-info:nth-child(6) .hex::after {
    content: "#f5f5f5"; }
  .color-info:nth-child(6) .scss::after {
    content: "$" "off-white"; }
  .color-info:nth-child(6) .rgb::after {
    text-transform: none;
    content: "rgb(245, 245, 245)"; }

.color-info:nth-child(7) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(7) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #ffffff;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center;
    border: 0.0625rem solid #d2d2d2; }
  .color-info:nth-child(7) .name::after {
    content: "white"; }
  .color-info:nth-child(7) .hex::after {
    content: "#ffffff"; }
  .color-info:nth-child(7) .scss::after {
    content: "$" "white"; }
  .color-info:nth-child(7) .rgb::after {
    text-transform: none;
    content: "rgb(255, 255, 255)"; }

.color-info:nth-child(8) {
  display: inline-block;
  margin-bottom: 3.125rem;
  padding-right: 0.9375rem; }
  .color-info:nth-child(8) .color {
    display: inline-block;
    margin-bottom: 1rem;
    background: #cd282c;
    padding: 1.5rem;
    width: 12.5rem;
    height: 3.75rem;
    text-align: center; }
  .color-info:nth-child(8) .name::after {
    content: "red"; }
  .color-info:nth-child(8) .hex::after {
    content: "#cd282c"; }
  .color-info:nth-child(8) .scss::after {
    content: "$" "red"; }
  .color-info:nth-child(8) .rgb::after {
    text-transform: none;
    content: "rgb(205, 40, 44)"; }

.bg-white {
  background-color: white; }

.bg-dark {
  background-color: black; }
