.content-wrapper {
    position: relative;

    .close-icon {
        position: absolute;
        top: 0;
        right: rem-calc(-20);
        cursor: pointer;

        .toggle-icon {
            display: block;
            position: relative;
            cursor: pointer;
            width: 100%;

            .bar {
                display: block;
                margin: rem-calc(14);
                border-right: 2.8em solid set-color('white');
                border-left: 0.6em solid set-color('grey-300');
                border-radius: rem-calc(10);
                width: 3.8em;
                height: rem-calc(4);
                box-sizing: border-box;

                &:nth-of-type(1) {
                    transform: rotate(-137deg) translateY(rem-calc(-24));
                    margin-left: rem-calc(22);
                }

                &:nth-of-type(2) {
                    transform: rotate(-42deg) translateY(rem-calc(-2));
                    margin-left: rem-calc(8);
                }
            }
        }
    }

    .movie-info {
        padding: rem-calc(0 20);
        height: 100%;
        overflow-y: scroll;

        .movie-title {
            margin-bottom: 0;
            text-transform: uppercase;
            color: set-color('white');
        }

        .movie-episode {
            margin-bottom: rem-calc(15);
        }

        .movie-poster {
            display: block;
            margin: 0 auto;
            margin-bottom: rem-calc(15);
            max-width: rem-calc(250);
        }
    }
}
