.content-wrapper {
	position: relative;

	.close-icon {
		position: absolute;
		top: 0;
		right: rem-calc(-20);
		cursor: pointer;

		.toggle-icon {
			display: block;
			position: relative;
			width: 100%;
			-webkit-transition: margin 600ms;
			-moz-transition: margin 600ms;
			transition: margin 600ms;
			cursor: pointer;

			.bar {
				display: block;
				width: 3.8em;
				height: rem-calc(4);
				margin: 0.9em;
				border-radius: rem-calc(10);
				border-right: 2.8em solid set-color('white');
				border-left: 0.6em solid set-color('grey-300');
				box-sizing: border-box;
				transition-property: transform, margin, border-right-color, box-shadow;
				transition-duration: 600ms;

				&:nth-of-type(1) {
					margin-left: 1.4em;
					transform: rotate(-137deg) translateY(rem-calc(-24));
				}

				&:nth-of-type(2) {
					margin-left: 0.5em;
					transform: rotate(-42deg) translateY(rem-calc(-2));
				}

			}
		}
	}
	
	.movie-info {
		overflow-y: scroll;
		height: 100%;
		padding: rem-calc(0 20);
		
		.movie-title {
			color: set-color('white');
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.movie-episode {
			margin-bottom: rem-calc(15);
		}

		.movie-poster {
			max-width: rem-calc(250);
			margin: 0 auto;
			display: block;
			margin-bottom: rem-calc(15);
		}
	}
}
