
.bg-left,
.bg-right {
    padding: rem-calc(30);
    height: 100vh;
    overflow: hidden;

    @include breakpoint(large) {
        padding: 0;
    }

    &.blur {
        margin: rem-calc(-20);
        box-shadow: inset 0 0 0 rem-calc(3000) rgba(set-color('black'), 0.5);
        overflow: hidden;
        -ms-filter: blur(rem-calc(10));
        -webkit-filter: blur(rem-calc(10));
        filter: blur(rem-calc(10));
    }

    .fg-left,
    .fg-right {
        position: relative;
        height: 100%;
        overflow: hidden;

        @include breakpoint(large) {
            height: 80vh;
        }

        .content-wrapper {
            position: absolute;
            top: 0;
            padding: rem-calc(30 20);
            width: 100%;
            height: 100%;
            color: set-color('white');

            .content-wrapper-inner {
                margin-bottom: rem-calc(20);
                height: 100%;
                overflow: hidden;
            }

            .logo {
                display: block;
                margin: 0 auto;
                margin-bottom: rem-calc(30);
                max-width: rem-calc(200);
            }
        }
    }

    .fg-right {
        border-top-right-radius: rem-calc(5);
        border-bottom-right-radius: rem-calc(5);
        box-shadow: rem-calc(5 0 20 0) rgba(set-color('black'), 0.2), rem-calc(2 5 5 0) rgba(set-color('black'), 0.24);

        @include breakpoint(large) {
            transition: 0.08s ease-out;
            width: 0;

            .is-open & {
                width: 66.66667%;
            }
        }
    }

    .fg-left {
        border-top-left-radius: rem-calc(5);
        border-bottom-left-radius: rem-calc(5);
        box-shadow: rem-calc(-5 0 20 0) rgba(set-color('black'), 0.2), rem-calc(-2 5 5 0) rgba(set-color('black'), 0.24);
    }
}

.bg-left {
    background: url('#{$img-path}/left.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint(xlarge) {
        background-position: left;
        background-size: 60%;
    }

    &.js-panel {
        transition: 0.3s ease-out;
        height: 0;

        @include breakpoint(large) {
            height: 100vh !important;
        }

        &.is-active {
            height: 100vh;
        }
    }
}

.bg-right {
    background: url('#{$img-path}/right.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint(xlarge) {
        background-position: right;
        background-size: 60%;
    }

    &.js-panel {
        transition: height 0.3s ease-out;
        height: 0;

        @include breakpoint(large) {
            height: 100vh !important;
        }

        &.is-active {
            margin-top: rem-calc(-60);
            height: 100vh;

            @include breakpoint(large) {
                margin-top: 0;
            }
        }
    }
}
