.js-animation {
    opacity: 0;
}

.fade-in {
    animation: fade-in 1.4s;
}

@keyframes fade-in {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes to-right {
	from {
		transform: translateY(80px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}