fieldset {
    border: 0;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    display: block;
    transition: 0.3s ease-in-out;
    outline: 0;
    border: 0;
    background: rgba(set-color('white'), 0.8);
	width: 100%;
    padding: rem-calc(15);
	border-radius: rem-calc(2);
    max-width: 100%;
    vertical-align: middle;
    color: set-color('grey-700');
    font-family: $primary-font;
    font-size: rem-calc(15);
}
