fieldset {
    border: 0;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    display: block;
    transition: 0.3s ease-in-out;
    outline: 0;
    border: 0;
    background: rgba(set-color('white'), 0.8);
	width: 100%;
    padding: rem-calc(15);
	border-radius: rem-calc(2);
    max-width: 100%;
    vertical-align: middle;
    color: set-color('grey-700');
    font-family: $primary-font;
    font-size: rem-calc(15);
}


.contact-form {
    margin-top: 0;
    margin-bottom: rem-calc(30);

    .form-field {
        position: relative;

        .input-field {
            margin-bottom: 0;
            border: 0;
            border-bottom: 1px solid rgba(set-color('white'), 0.3);
            padding: rem-calc(40 10 10 10);
            width: 100%;
            color: rgba(set-color('white'), 0.7);

            &:focus {
                border-color: set-color('accent-1');
                color: set-color('white');
            }

            &.message {
                margin-bottom: 0;
                border: 0;
                border-bottom: 1px solid rgba(set-color('white'), 0.3);
                padding: rem-calc(40 10 10 10);
                width: 100%;
                min-height: rem-calc(200);
                color: rgba(set-color('white'), 0.7);

                &:focus {
                    border-color: set-color('accent-1');
                    color: set-color('white');
                }
            }

            &:focus,
            &.not-empty {
                + .label {
                    left: 0;
                    transform: translateY(-30px);
                    text-transform: uppercase;
                    color: set-color('accent-1');
                    font-size: rem-calc(12);
                    font-weight: 400;

                    @include breakpoint(large) {
                        transform: translateY(-25px);
                    }
                }

                + .message-label {
                    @include breakpoint(large) {
                        transform: translateY(-20px);
                    }
                }
            }
        }

        .label {
            position: absolute;
            top: rem-calc(30);
            transition: 0.2s ease-in-out;
            cursor: text;
            padding-left: rem-calc(10);
            width: 100%;
            color: set-color('grey-300');
            font-family: $primary-font;
            font-size: rem-calc(14);
            font-weight: 300;
        }
    }
}
