//Colors
$colors-map: (
    'black': #000000,
    'grey-900': #101010,
    'grey-700': #3c3c3c,
    'grey-500': #7e7e7e,
    'grey-300': #d2d2d2,
    'off-white': #f5f5f5,
    'white': #ffffff,
    'red': #cd282c,
);

//Fonts
$primary-font: 'Roboto', Arial, sans-serif;

//Paths
$img-path: '../images';
